.container-school {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.container_details {
    background-color: black;
    display: grid;
    width: 100%;
}