.cadastro_container {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: black;
}

input,
label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

input {
  width: 100vh;
}

form {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn_stages {
  margin-left: 10%;
  background-color: green;
}

.container_stages {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  width: 100vh;
  height: 10vh;
}

span {
  font-weight: bold;
}